
.página1{
    background-image: url(fundopg1.jpg);
    background-repeat
    background-size:cover;
    }


   
    .página2{
        background-image: url(fundopg2.jpg);
        background-repeat
        background-size:cover;
    }
 .página3{
    background-image: url(fundopg3.jpg);
    background-repeat: 
    background-size:cover;
}
.cor{
color:red;
}

#letra{
color:antiquewhite;

}
.página4{
  background-color:rgb(105, 109, 225);
}

.cor4{
    color:rgb(7, 0, 0);
}